{
  "plugins": ["prettier-plugin-go-template"],

  "overrides": [
    {
      "files": ["*.html", "*.css"],
      "options": {
        "parser": "go-template",
        "singleQuote": false
      }
    },
    { "files": "*.md", "options": { "proseWrap": "always" } }
  ],
  "goTemplateBracketSpacing": true,
  "bracketSameLine": true,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 120
}
