<section class="py-10 md:py-16">
  <div class="container max-w-screen-xl mx-auto px-4">
    <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">Brands</h1>

    <p class="font-normal text-gray-500 text-xs md:text-base mb-10 md:mb-20">
      Below is a summary of the places I studied
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      <img src="img/brand-1.png" alt="Image" />

      <img src="img/brand-2.png" alt="Image" />

      <img src="img/brand-3.png" alt="Image" />

      <img src="img/brand-4.png" alt="Image" />

      <img src="img/brand-5.png" alt="Image" />

      <img src="img/brand-6.png" alt="Image" />
    </div>
  </div>
</section>