<section class="py-10 md:py-16">
  <div class="container max-w-screen-xl mx-auto px-4">
    <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">
      {{ .params.title }}
    </h1>

    <p
      class="font-normal text-gray-500 text-xs md:text-base mb-20 max-w-screen-sm"
    >
      {{ .params.description }}
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {{ range sort .education "weight" }}
        <div class="bg-gray-50 px-8 py-10 rounded-md">
          <h4 class="font-medium text-gray-700 text-lg mb-4">{{ .year }}</h4>

          <h4 class="font-semibold text-gray-700 text-md mb-4 ">{{ .name }}</h4>

          <p class="font-normal text-gray-500 text-md mb-4">
            {{ .description }}
          </p>
        </div>
      {{ end }}

    </div>
  </div>
</section>
