<section class="py-10 md:py-16">
  <div class="container max-w-screen-xl mx-auto px-4">
    <div class="flex flex-col lg:flex-row justify-between">
      <div class="mb-10 lg:mb-0">
        <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">
          {{ .params.title }}
        </h1>

        <p
          class="font-normal text-gray-500 text-xs md:text-base max-w-screen-sm"
        >
          {{ .params.description }}
        </p>
      </div>

      <div class="space-y-24">
        {{ $counter := 0 }}
        {{ range sort .project "weight" }}
          {{ $counter = add $counter 1 }}


          <div class="flex space-x-6">
            <h1 class="font-normal text-gray-700 text-3xl md:text-4xl">
              {{ print "0" $counter }}
            </h1>

            <span class="w-28 h-0.5 bg-gray-300 mt-5"></span>

            <a href="{{ .link }}" target="_blank">
              <div>
                <h1 class="font-normal text-gray-700 text-3xl md:text-4xl mb-5">
                  {{ .title }}
                </h1>

                <p
                  class="font-normal text-gray-500 text-sm md:text-base  max-w-screen-sm"
                >
                  {{ .description }}
                </p>
              </div>
            </a>
          </div>
        {{ end }}

      </div>
    </div>
  </div>
</section>
