<section class="py-10 md:py-16">
  <div class="container max-w-screen-xl mx-auto px-4">
    <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">
      {{ .params.title }}
    </h1>

    <p class="font-normal text-gray-500 text-xs md:text-base mb-10 md:mb-20">
      {{ .params.description }}
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {{ range sort .testimonial "weight" }}
        <div class="bg-gray-50 px-8 py-10 rounded-md">
          <p class="font-normal text-gray-500 text-md mb-4">
            {{ .text }}
          </p>

          <h6 class="font-semibold text-gray-500 text-md">
            {{ .name }}
            <span class="font-medium text-gray-300 text-sm"
              >- {{ .position }}</span
            >
          </h6>
        </div>
      {{ end }}
    </div>
  </div>
</section>
