{{ define "main" }}
  {{/* Default data */}}
  {{ $sections := slice
    (dict "id" "hero" "enabled" true "weight" 1 )
    (dict "id" "skills" "enabled" true "weight" 2 )
  }}

  {{/* Custom data from configuration file */}}
  {{ with site.Data.home }}
    {{ $sections = slice }}
    {{ if .sections }}{{ $sections = .sections }}{{ end }}
  {{ end }}

  {{ range sort $sections ".weight" }}
    {{ if .enabled }}
      {{ partial (printf "sections/%s.html" (replace (lower .id) " " "-")) . }}
    {{ end }}
  {{ end }}
{{ end }}
