{{ define "main" }}
<div class="container mx-auto px-6">
  <h1 class="text-4xl font-semibold text-center mb-10">Últimos Posts</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {{ range .Pages }}
      <div class="bg-gray-50 p-6 rounded-lg shadow hover:shadow-md transition">
        <a href="{{ .RelPermalink }}">
          {{ with .Resources.GetMatch .Params.image }}
            <img src="{{ .RelPermalink }}" alt="{{ $.Title }}" class="mb-4 rounded-lg w-full h-48 object-cover" />
          {{ end }}
          <h2 class="text-2xl font-bold mb-2 text-gray-700">{{ .Title }}</h2>
        </a>
        <p class="text-gray-600 text-base">{{ .Summary }}</p>
        <a href="{{ .RelPermalink }}" class="mt-4 inline-block text-blue-500">Leer más →</a>
      </div>
    {{ end }}
  </div>
</div>
{{ end }}

