{{ define "main" }}
  <div class="container max-w-screen-xl mx-auto px-4">
    <h1 class="text-center font-medium text-gray-700 text-3xl md:text-4xl mb-5 font-poppins">{{ .Title }}</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {{ $posts := .Pages.ByPublishDate.Reverse }}
      {{ $paginator := .Paginate $posts 10 }}
      {{ range $paginator.Pages }}
        <div class="bg-gray-50 px-8 py-10 rounded-md">
          <a href="{{ .RelPermalink }}">
            <img
              class="rounded-md mb-4"
              src="{{ .RelPermalink }}/{{ .Params.image }}"
              alt="{{ .Title }}"
              title="{{ .Title }}" />
          </a>
          <div class="relative">
            <a href="{{ .RelPermalink }}">
              <h2 class="font-medium text-gray-700 text-xl relative z-10">{{ .Title }}</h2>
            </a>
          </div>
          {{ partial "partials/posts/meta.html" . }}
          <div class="post-card">
            {{ .Summary | safeHTML }}
            <div class="block text-right mt-4 font-light text-lg">
              <a href="{{ .RelPermalink }}" class="text-blue-500">Read more...</a>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
    {{ partial "partials/pagination.html" . }}
  </div>
{{ end }}
