{{ define "main" }}
  <div class="container max-w-screen-xl mx-auto px-4">
    <div class="grid grid-cols-1 gap-6">
      <div class="bg-gray-50 px-8 py-10 rounded-md post-content">
        <img
          class="rounded-md mb-4 w-full"
          src="{{ .RelPermalink }}/{{ .Params.image }}"
          alt="{{ .Title }}"
          title="{{ .Title }}" />
        <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">{{ .Title }}</h1>
        {{ partial "partials/posts/meta.html" . }}

        {{ .Content | safeHTML }}
      </div>
    </div>
  </div>
{{ end }}
