@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 text-gray-600 text-lg font-light font-roboto;
  }

  h1 {
    @apply text-4xl font-normal;
  }

  section {
    @apply py-5 md:py-10;
  }

  .font-roboto {
    font-family: 'Roboto', sans-serif;
  }

  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }

  .font-outline-2 {
    -webkit-text-stroke: 2px rgb(156 163 175);
  }

  .font-outline-3 {
    -webkit-text-stroke: 3px rgb(156 163 175);
  }
}

@layer components {
  .post-card {
    h2 {
      @apply font-medium text-gray-700 text-3xl md:text-4xl mb-5;
    }

    p {
      @apply font-light text-gray-500 text-lg py-2;
    }

    a {
      @apply text-blue-500 hover:text-blue-700 hover:underline;
    }

    blockquote {
      @apply border-l-4 border-gray-500 bg-gray-100 p-2 my-5;
    }
  }

  .post-content {
    h2 {
      @apply font-medium text-gray-700 text-xl md:text-2xl my-5;
    }

    h3 {
      @apply font-medium text-gray-700 text-lg md:text-xl my-3;
    }

    h4 {
      @apply font-medium text-gray-700 text-base md:text-lg my-3;
    }

    p {
      @apply text-gray-700 text-lg py-2;
    }

    ul {
      @apply list-disc py-2;
    }

    li {
      @apply text-gray-700 text-base mx-5 px-2 py-2;
    }

    a {
      @apply text-blue-500 hover:text-blue-700 hover:underline;
    }
    code {
      @apply rounded-md px-1 py-0.5 bg-gray-200;
    }

    pre {
      @apply px-5 rounded-md my-5;
    }

    pre code {
      @apply bg-transparent;
    }
    blockquote {
      @apply border-l-4 border-gray-500 bg-gray-100 p-2 my-5;
    }
  }
}
