<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "head.html" . }}
  </head>

  <body class="bg-gray-100">
    {{ partial "navbar.html" . }}


    <section>
      <div class="container max-w-screen-xl mx-auto px-4">
        <h1 class="text-center font-medium text-gray-700 text-3xl md:text-4xl mb-5">Posts</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          {{ $posts := where .RegularPagesRecursive "Layout" "!=" "search" }}
          {{ $paginator := .Paginate $posts 8 }}
          {{ range $paginator.Pages }}
            <a href="{{ .RelPermalink }}" class="post-card-link">
              <div class="bg-gray-50 px-8 py-10 rounded-md">
                <img
                  class="rounded-md mb-4"
                  src="{{ .RelPermalink }}/{{ .Params.image }}"
                  alt="{{ .Title }}"
                  title="{{ .Title }}" />
                <h2 class="font-medium text-gray-700 text-xl mb-4">{{ .Title }}</h2>
                <p class="font-normal text-gray-500 text-md">
                  {{ .Summary |
                    replaceRE "<p>" "<p class=\"font-normal text-gray-500 text-md py-2\">" |
                    replaceRE "<h2 " "<h2 class=\"font-medium text-gray-700 text-3xl md:text-4xl mb-5\" " |
                    safeHTML
                  }}
                </p>
              </div>
            </a>
          {{ end }}
        </div>
        {{ partial "partials/pagination.html" . }}
      </div>
    </section>

    {{ partial "footer.html" . }}


    <script>
      feather.replace();
    </script>
  </body>
</html>
