<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "head.html" . }}
  </head>

  <body class="bg-gray-100">
    {{ partial "navbar.html" . }}


    <section>
      <div class="container max-w-screen-xl mx-auto px-4">
        <h1 class="text-center font-medium text-gray-700 text-3xl md:text-4xl mb-5">Posts</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          {{ $posts := .Pages.ByPublishDate.Reverse }}
          {{ $paginator := .Paginate $posts 10 }}
          {{ range $paginator.Pages }}
            <div class="bg-gray-50 px-8 py-10 rounded-md">
              <a href="{{ .RelPermalink }}">
                <img
                  class="rounded-md mb-4"
                  src="{{ .RelPermalink }}/{{ .Params.image }}"
                  alt="{{ .Title }}"
                  title="{{ .Title }}" />
              </a>
              <div class="relative">
                <a href="{{ .RelPermalink }}">
                  <h2 class="font-medium text-gray-700 text-xl relative z-10">{{ .Title }}</h2>
                </a>
                <span class="w-20 h-1 bg-blue-200 absolute bottom-1 left-0 z-0"></span>
              </div>
              <div class="flex items-center">
                <div class="my-2 flex whitespace-nowrap items-center">
                  <i data-feather="calendar" class="text-gray-500 w-4"></i>
                  <span class="text-gray-500 text-sm mx-1">{{ .Date.Format "02-01-2006" }}</span>
                </div>
                <div class="m-2 text-sm flex whitespace-nowrap items-center">
                  <i data-feather="clock" class="text-gray-500 w-4"></i>
                  <span class="text-gray-500 text-sm mx-1">
                    {{ .ReadingTime }}
                    {{ if eq .ReadingTime 1 }}minute{{ else }}minutes{{ end }}
                  </span>
                </div>
                <div class="my-2 flex whitespace-nowrap items-center">
                  <i data-feather="tag" class="text-gray-500 w-4"></i>
                  {{ range index .Params "tags" }}
                    {{ $href := print (absURL "tags/") (urlize .) }}
                    <a class="text-gray-500 text-sm mx-1" href="{{ $href }}" aria-label="{{ . }}">{{ . }}</a>
                  {{ end }}
                </div>
              </div>
              <p class="font-normal text-gray-500 text-md">
                {{ .Summary |
                  replaceRE "<p>" "<p class=\"font-normal text-gray-500 text-md py-2\">" |
                  replaceRE "<a " "<a class=\"text-blue-500 hover:text-blue-700 hover:underline\" " |
                  replaceRE "<h2 " "<h2 class=\"font-medium text-gray-700 text-3xl md:text-4xl mb-5\" " |
                  safeHTML
                }}
              </p>
            </div>
          {{ end }}
        </div>
        {{ partial "partials/pagination.html" . }}
      </div>
    </section>

    {{ partial "footer.html" . }}


    <script>
      feather.replace();
    </script>
  </body>
</html>
