{{/* Default values */}}
{{ $socials := slice
  (dict "type" "linkedin" "id" "johndoe")
  (dict "type" "github" "id" "johndoe")
  (dict "type" "facebook" "id" "johndoe")
  (dict "type" "twitter" "id" "johndoe")
  (dict "type" "telegram" "id" "johndoe")
}}

{{/* Custom data from configuration file */}}
{{ with site.Data.footer }}
  {{ $socials = slice }}
  {{ if .social }}{{ $socials = .social }}{{ end }}
{{ end }}

{{ $map := dict
  "twitter"   (dict "https://twitter.com/%s/" "twitter")
  "facebook"  (dict "https://www.facebook.com/%s/" "facebook")
  "linkedin"  (dict "https://www.linkedin.com/in/%s/" "linkedin")
  "github"    (dict "https://github.com/%s/" "github")
  "instagram" (dict "https://www.instagram.com/%s/" "instagram")
  "youtube"   (dict "https://www.youtube.com/%s/" "youtube")
  "dribbble"  (dict "https://dribbble.com/%s/" "dribbble")
  "behance"   (dict "https://www.behance.net/%s/" "behance")
  "medium"    (dict "https://medium.com/%s/" "medium")
  "telegram"  (dict "https://t.me/%s/" "telegram")
  "whatsapp"  (dict "https://wa.me/%s/" "whatsapp")
}}


<div class=" text-center">
  <div class="flex flex-wrap items-center justify-center">
    {{ range $socials }}
      {{ $id := .id }}
      {{ range $link, $icon := (index $map .type) }}
        <a href="{{ printf $link $id }}" target="_blank" class="p-5"><i class="bx bxl-{{ $icon }} text-3xl"></i></a>
      {{ end }}
    {{ end }}
  </div>
</div>
