{{/* Default values */}}
{{ $copyrightText := "© 2024 kate Wolff" }}
{{ $social := slice }}

{{/* Custom data from configuration file */}}
{{ with site.Data.footer }}
  {{ if .params.copyright }}{{ $copyrightText = .params.copyright }}{{ end }}
  {{ if .params.social }}{{ $social = .params.social }}{{ end }}
{{ end }}


<footer class="py-10 md:py-16 mb-20 md:mb-40 lg::mb-52">
  <div class="container max-w-screen-xl mx-auto px-4">
    <div class="text-center">
      <div class="flex items-center justify-center space-x-8">
        {{ range sort $social "weight" }}
          {{ $link := "" }}
          {{ $icon := "" }}
          {{ if eq .type "twitter" }}
            {{ $link = printf "https://twitter.com/%s/" .id }}
            {{ $icon = "twitter" }}
          {{ else if eq .type "facebook" }}
            {{ $link = printf "https://www.facebook.com/%s/" .id }}
            {{ $icon = "facebook" }}
          {{ else if eq .type "linkedin" }}
            {{ $link = printf "https://www.linkedin.com/in/%s/" .id }}
            {{ $icon = "linkedin" }}
          {{ else if eq .type "github" }}
            {{ $link = printf "https://github.com/%s/" .id }}
            {{ $icon = "github" }}
          {{ else if eq .type "instagram" }}
            {{ $link = printf "https://www.instagram.com/%s/" .id }}
            {{ $icon = "instagram" }}
          {{ else if eq .type "youtube" }}
            {{ $link = printf "https://www.youtube.com/%s/" .id }}
            {{ $icon = "youtube" }}
          {{ else if eq .type "dribbble" }}
            {{ $link = printf "https://dribbble.com/%s/" .id }}
            {{ $icon = "dribbble" }}
          {{ else if eq .type "behance" }}
            {{ $link = printf "https://www.behance.net/%s/" .id }}
            {{ $icon = "behance" }}
          {{ else if eq .type "medium" }}
            {{ $link = printf "https://medium.com/%s/" .id }}
            {{ $icon = "medium" }}
          {{ else if eq .type "telegram" }}
            {{ $link = printf "https://t.me/%s/" .id }}
            {{ $icon = "send" }}
          {{ else if eq .type "whatsapp" }}
            {{ $link = printf "https://wa.me/%s/" .id }}
            {{ $icon = "message-circle" }}
          {{ else if eq .type "email" }}
            {{ $link = printf "mailto:%s" .id }}
            {{ $icon = "mail" }}
          {{ end }}

          {{ if and $icon $link }}
            <a
              href="{{ $link }}"
              target="_blank"
              class="w-16 h-16 flex items-center justify-center rounded-full hover:bg-gray-200 transition ease-in-out duration-500">
              <i
                data-feather="{{ $icon }}"
                class="text-gray-500 hover:text-gray-800 transition ease-in-out duration-500"></i>
            </a>
          {{ end }}
        {{ end }}

      </div>

      <p class="font-normal text-gray-600 text-md mt-8">
        {{ $copyrightText }}
      </p>
    </div>
  </div>
</footer>
