<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

{{/* Title: prefer site title on home or when page title absent */}}
<title>{{ if or .IsHome (eq .Title "") }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

{{/* Use relURL so assets honor `baseURL`/subfolder deployments */}}
<link rel="stylesheet" href="{{ "css/tailwind.css" | relURL }}" />

{{/* Cache static head partials for performance */}}
{{ partialCached "head/fonts.html" . }}
{{ partial "head/meta.html" . }}
{{ partialCached "head/favicon.html" . }}
{{ partialCached "head/scripts.html" . }}
{{ partialCached "head/styles.html" . }}

{{ template "_internal/google_analytics.html" . }}
