<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  {{ partial "head.html" . }}
</head>

<body class="bg-gray-100">
  {{ partial "navbar.html" . }}

  {{ partial "sections/hero.html" . }}
  {{ partial "sections/skills.html" . }}
  {{ partial "sections/portfolio.html" . }}
  {{ partial "sections/education.html" . }}
  {{ partial "sections/experience.html" . }}
  {{ partial "sections/brands.html" . }}
  {{ partial "sections/testimonial.html" . }}

  {{ partial "footer.html" . }}

  <script>
    feather.replace();
  </script>
</body>

</html>