<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "head.html" . }}
  </head>

  <body class="bg-gray-100">
    {{ partial "navbar.html" . }}

    {{ $sections:= site.Data.sections }}
    {{ if $sections }}
      {{ range sort $sections "section.weight" }}
        {{ if .section.enabled }}
          {{ partial (printf "sections/%s.html" (replace (lower .section.id) " " "-")) . }}
        {{ end }}
      {{ end }}
    {{ end }}

    {{ partial "footer.html" . }}

    <script>
      feather.replace();
    </script>
  </body>
</html>
